Repository skodjob/automation-hub, pull requests merged in 2021-11, with the labels that each got.

#41 CI install updates and image updater improvements
  .github/lint-config.yaml
  .github/workflows/verify.yaml
  argo/install/argo-install.yaml
  argo/install/argo-route.yaml
  argo/projects/strimzi.yaml
  image-update/Dockerfile
  image-update/cron-update.yaml
  image-update/image-update.sh
  pipelines/strimzi-deployment/clients-update.yaml
  pipelines/strimzi-deployment/grafana-data-source.yaml
  pipelines/strimzi-deployment/strimzi-image-updater.yaml
  scripts/access_remote_cluster.sh
  scripts/install-cicd.sh
  scripts/remote_access_sa.yaml
  scripts/test-github-access.yaml
  secrets/cluster-secret.yaml
  secrets/github-secret.yaml
  secrets/tekton-secret.yaml
Labels: pipelines, argo, scripts, github_ci

#42 Add strimzi-canary application into argo
  argo/projects/strimzi.yaml
Labels: argo

#43 Add ArgoCD grafana and dashboards
  .github/lint-config.yaml
  argo/install/metrics/argo-dashboard-cm.yaml
  argo/install/metrics/argo-service-monitors.yaml
  argo/install/metrics/grafana-argo-dashboards.yaml
  argo/install/metrics/grafana-data-source.yaml
  argo/install/metrics/grafana-operator.yaml
  argo/install/metrics/grafana-setup.yaml
  argo/install/metrics/grafana.yaml
  argo/install/metrics/user-workload-cm.yaml
  scripts/install_monitoring.sh
Labels: argo, scripts, github_ci

#48 Add drain cleaner to tealc and argo
  argo/projects/strimzi.yaml
  image-update/drain-cleaner-image-update.sh
  pipelines/strimzi-deployment/drain-cleaner-image-updater.yaml
Labels: pipelines, argo

#51 Update install-cicd script to work on ocp
  .github/workflows/verify.yaml
  argo/install/argo-route.yaml
  scripts/install-cicd.sh
Labels: argo, scripts, github_ci

#50 Setup alertmanager and argo alerts
  argo/install/alert-manager-configuration.yaml
  argo/install/alerts/alerts.yaml
  argo/install/metrics/argo-dashboard-cm.yaml
  scripts/install_monitoring.sh
Labels: argo, scripts

#52 Use fixed version of argoCD
  argo/install/argo-install.yaml
Labels: argo

#53 Allow argo to login using openshift oauth
  argo/install/argocd-cm.yaml
  argo/install/argocd-rbac-cm.yaml
  scripts/install-cicd.sh
  secrets/argo-secret.yaml
Labels: argo, scripts

#54 Fix duplicated res
  pipelines/strimzi-deployment/canary-image-updater.yaml
  pipelines/strimzi-deployment/drain-cleaner-image-updater.yaml
Labels: pipelines
