Repository skodjob/automation-hub, pull requests merged in 2021-09, with the labels that each got.

#30 Fix image updater
  argo/projects/strimzi.yaml
  image-update/Dockerfile
  image-update/cron-update.yaml
  image-update/image-update.sh
  secrets/cluster-secret.yaml
Labels: argo

#32 Install tekton dashboard
  scripts/install-tekton.sh
Labels: scripts

#33 Expose tkn dashboard route on openshift cluster
  scripts/install-tekton.sh
Labels: scripts

#34 Install argoCD in install script
  .github/workflows/test-scripts/install-argo-entrypoint.sh
  .github/workflows/verify.yaml
  README.md
  scripts/install-cicd.sh
Labels: scripts, github_ci

#35 Add sa for argo into cluster-admins
  scripts/install-cicd.sh
Labels: scripts

#36 Create sync pipeline for clients and grafana
  argo/projects/strimzi.yaml
  pipelines/strimzi-deployment/deployment.yaml
  pipelines/test/test.yaml
  pipelines/test/test2.yaml
  secrets/cluster-secret.yaml
Labels: pipelines, argo

#37 Add temporary admin role for all ocp users for argocd
  scripts/install-cicd.sh
Labels: scripts

#38 Use proper file name for change access token for thanos
  pipelines/strimzi-deployment/deployment.yaml
Labels: pipelines
