Repository skodjob/automation-hub, pull requests merged in 2021-08, with the labels that each got.

#24 Fix mention gh bot action
  .github/workflows/bot_issue_mention.yaml
  .github/workflows/bot_pr_mention.yaml
Labels: github_ci

#25 Sokar deployment
  argo/projects/strimzi.yaml
Labels: argo

#26 Yamllint in verify step
  .github/labeler.yml
  .github/lint-config.yaml
  .github/workflows/bot_labeler.yaml
  .github/workflows/yamllint.yaml
  argo/projects/strimzi.yaml
  argo/projects/tealc-ci.yaml
  image-update/cron-update.yaml
  secrets/argo-secret.yaml
  secrets/github-secret.yaml
Labels: argo, github_ci

#28 Cancel previous run of verify workflow
  .github/workflows/verify.yaml
Labels: github_ci

#29 Stop previous run of verify only in PR
  .github/workflows/verify.yaml
Labels: github_ci
