Repository skodjob/automation-hub, pull requests merged in 2022-01, with the labels that each got.

#71 Split logic of infra and scenarios for tealc testing
  .github/workflows/verify.yaml
  README.md
  image-update/Dockerfile
  playbooks/roles/tealc
  playbooks/tealc
  playbooks/tealc-play-gh-actions.yaml
  playbooks/tealc-play.yaml
  scripts/copy-secrets.sh
  tealc/files/tekton/pipelines/strimzi-deployment/run/pipeline-runs.yaml
  tealc/files/tekton/pipelines/twitter-app/run/pipeline-runs.yaml
  tealc/files/tekton/pipelines/twitter-app/twitter-app-copy-secrets.yaml
  tealc/files/tekton/pipelines/twitter-app/twitter-app-image-updater.yaml
  tealc/tasks/main.yml
  tealc/tasks/scenario-deployment/argo-deploy-strimzi-clients.yaml
  tealc/tasks/scenario-deployment/argo-deploy-strimzi-infra.yaml
  tealc/tasks/scenario-deployment/argo-deploy-strimzi-monitoring.yaml
  tealc/tasks/scenario-deployment/argo-deploy-strimzi-twitter-app.yaml
  tealc/tasks/scenario-deployment/strimzi-infra-tkn-pipelines.yaml
  tealc/templates/argo/projects/strimzi-clients/strimzi-clients.yaml.j2
  tealc/templates/argo/projects/strimzi-infra/strimzi-canary.yaml.j2
  tealc/templates/argo/projects/strimzi-infra/strimzi-drain-cleaner.yaml.j2
  tealc/templates/argo/projects/strimzi-infra/strimzi-kafka.yaml.j2
  tealc/templates/argo/projects/strimzi-infra/strimzi-operator.yaml.j2
  tealc/templates/argo/projects/strimzi-monitoring/strimzi-alerts-canary.yaml.j2
  tealc/templates/argo/projects/strimzi-monitoring/strimzi-alerts-cluster-operator.yaml.j2
  tealc/templates/argo/projects/strimzi-monitoring/strimzi-alerts-drain-cleaner.yaml.j2
  tealc/templates/argo/projects/strimzi-monitoring/strimzi-alerts-kafka.yaml.j2
  tealc/templates/argo/projects/strimzi-monitoring/strimzi-monitoring-grafana.yaml.j2
  tealc/templates/argo/projects/strimzi-twitter-app/strimzi-alerts-kafka-connect.yaml.j2
  tealc/templates/argo/projects/strimzi-twitter-app/strimzi-twitter-apps.yaml.j2
  tealc/templates/argo/projects/strimzi-twitter-app/strimzi-twitter-clients.yaml.j2
  tealc/templates/argo/projects/strimzi-twitter-app/strimzi-twitter-connect.yaml.j2
  tealc/templates/argo/projects/strimzi-twitter-app/strimzi-twitter-connectors.yaml.j2
  tealc/templates/argo/projects/strimzi-twitter-app/strimzi-twitter-users-topic.yaml.j2
Labels: scripts, github_ci

#74 Fix copy secret tkn pipeline + upgrade tekton
  .github/workflows/verify.yaml
  tealc/files/tekton/pipelines/twitter-app/run/pipeline-runs.yaml
  tealc/tasks/scenario-deployment/strimzi-infra-tkn-pipelines.yaml
Labels: github_ci

#81 Fix path trigger image build
  .github/workflows/image_build.yaml
  image-update/Dockerfile
Labels: github_ci

#92 Taint node only for kafka pods
  scripts/label-cluster.sh
Labels: scripts

#96 Add ovewrite for taint nodes
  scripts/label-cluster.sh
Labels: scripts

#103 Uninstall fixes and tags separations
  .github/workflows/verify.yaml
  Makefile
  README.md
  tealc/files/tekton/pipelines/strimzi-deployment/canary-image-updater.yaml
  tealc/files/tekton/pipelines/strimzi-deployment/clients-image-updater.yaml
  tealc/files/tekton/pipelines/strimzi-deployment/drain-cleaner-image-updater.yaml
  tealc/files/tekton/pipelines/strimzi-deployment/strimzi-image-updater.yaml
  tealc/files/tekton/pipelines/thor/thor-test-suite.yaml
  tealc/files/tekton/pipelines/twitter-app/twitter-app-image-updater.yaml
  tealc/tasks/infra-setup/delete_report_portal.yaml
  tealc/tasks/infra-setup/delete_tekton.yaml
  tealc/tasks/main.yml
Labels: github_ci

#105 Make unified install folder
  .github/workflows/verify.yaml
  .gitignore
  Makefile
  README.md
  install/ansible/examples
  install/ansible/roles/tealc
  install/ansible/secrets
  install/ansible/tealc-play-gh-actions.yaml
  install/ansible/tealc-play.yaml
  playbooks/roles/tealc
  secrets/clusters.yaml
Labels: github_ci
