Repository skodjob/automation-hub, pull requests merged in 2023-03, with the labels that each got.

#170 Add missing thor test suite trigger template and fix trigger bindings
  install/roles/tealc/templates/tekton/pipelines/thor-test-suite.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/upgrade-worker-cluster.yaml.j2
  install/secrets/clusters.yaml
Labels: pipelines

#173 Install argo alerts and dashboard in scope of monitoring installation
  install/roles/tealc/files/argo/metrics/alerts.yaml
  install/roles/tealc/files/argo/metrics/argo-dashboard-cm.yaml
  install/roles/tealc/files/argo/metrics/grafana-argo-dashboards.yaml
  install/roles/tealc/tasks/monitoring/deploy-data-source.yaml
  install/roles/tealc/tasks/monitoring/install_monitoring.yaml
  install/roles/tealc/templates/argo/metrics/alert-manager-config.yaml.j2
  install/roles/tealc/templates/argo/metrics/smtp-secret.yaml.j2
Labels: argo

#176 Set proper values for ArgoCD's alerts
  install/roles/tealc/files/argo/metrics/alerts.yaml
Labels: argo

#177 Change back number of stored pipeline runs
  install/roles/tealc/files/tekton/pipelines/infra/tkn-runs-cleanup.yaml
Labels: pipelines

#180 Gitops install
  install/examples/clusters.yaml
  install/roles/tealc/files/tekton/pipelines/infra/tealc-install.yaml
  install/roles/tealc/tasks/infra-setup/install_tekton.yaml
  install/roles/tealc/tasks/infra-setup/prepare_access.yaml
  install/roles/tealc/tasks/scenario-deployment/tekton/strimzi-infra-tkn-pipelines.yaml
  install/secrets/clusters.yaml
  install/secrets/tealc-install-key.yaml
Labels: pipelines

#183 Update alerts for monitoring argo applications
  install/roles/tealc/files/argo/metrics/alerts.yaml
Labels: argo

#186 Refactor deployment files structure + fix logging install
  install/roles/tealc/files/report_portal/install/rp-subscription.yaml
  install/roles/tealc/tasks/infra-setup/delete/delete_argo.yaml
  install/roles/tealc/tasks/infra-setup/delete/delete_tekton.yaml
  install/roles/tealc/tasks/infra-setup/install/install_argo.yaml
  install/roles/tealc/tasks/infra-setup/install/install_tekton.yaml
  install/roles/tealc/tasks/infra-setup/prepare_access.yaml
  install/roles/tealc/tasks/main.yml
  install/roles/tealc/tasks/monitoring/delete_monitoring.yaml
  install/roles/tealc/tasks/monitoring/install_monitoring.yaml
  install/roles/tealc/tasks/scenario-deployment/debezium/argo-deploy-debezium.yaml
  install/roles/tealc/tasks/scenario-deployment/infra/argo-deploy-amq-streams-infra.yaml
  install/roles/tealc/tasks/scenario-deployment/infra/argo-deploy-strimzi-infra.yaml
  install/roles/tealc/tasks/scenario-deployment/tekton/strimzi-infra-tkn-pipelines.yaml
  install/roles/tealc/tasks/scenario-deployment/twitter/argo-deploy-strimzi-twitter-app.yaml
  install/roles/tealc/templates/argo/applications/amq-streams-infra.yaml
  install/roles/tealc/templates/argo/applications/debezium.yaml
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-canary.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-cluster-operator.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-drain-cleaner.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-kafka-connect.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-kafka.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-cluster-operator.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-drain-cleaner.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-kafka.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/dashboards/grafana-dashboards.yaml.j2
  install/roles/tealc/templates/argo/applications/strimzi-infra.yaml
  install/roles/tealc/templates/argo/applications/strimzi-twitter-app.yaml
  install/roles/tealc/templates/argo/install/argocd.yaml
  install/roles/tealc/templates/argo/install/sub.yaml
  install/roles/tealc/templates/argo/metrics/alerts.yaml
  install/roles/tealc/templates/argo/metrics/argo-dashboard-cm.yaml
  install/roles/tealc/templates/argo/metrics/grafana-argo-dashboards.yaml
  install/roles/tealc/templates/remote_access_sa.yaml
  install/roles/tealc/templates/tekton/install/tekton-config.yaml
  install/roles/tealc/templates/tekton/install/tekton-subscription.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/secret-copy.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/tealc-install.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/tkn-runs-cleanup.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/canary-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/clients-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/drain-cleaner-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/image-changer-trigger.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/run/pipeline-runs.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/strimzi-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/twitter-app/run/pipeline-runs.yaml
  install/roles/tealc/templates/tekton/pipelines/twitter-app/twitter-app-image-updater.yaml
Labels: pipelines, argo

#198 Update metrics allowlist for Thanos and update alerts and metrics config
  install/roles/tealc/tasks/infra-setup/install/advanced-control-management/install_observability.yaml
  install/roles/tealc/tasks/monitoring/delete_monitoring.yaml
  install/roles/tealc/tasks/monitoring/install_monitoring.yaml
  install/roles/tealc/tasks/scenario-deployment/monitoring/argo-deploy-strimzi-monitoring.yaml
  install/roles/tealc/templates/acm/08-extend-default-metrics-allowlist.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/infra/argo-alerts.yaml.j2
  install/roles/tealc/templates/argo/metrics/alerts.yaml
  install/roles/tealc/templates/argo/metrics/argo-dashboard-cm.yaml
  install/roles/tealc/templates/argo/metrics/grafana-argo-dashboards.yaml
Labels: argo
