Repository skodjob/automation-hub, pull requests merged in 2023-11, with the labels that each got.

#258 Deploy tekton pipelines and argocd apps after clusters format changes
  install/roles/tealc/tasks/main.yml
  install/roles/tealc/tasks/scenario-deployment/monitoring/argo-deploy-strimzi-monitoring.yaml
  install/roles/tealc/tasks/scenario-deployment/tekton/strimzi-infra-tkn-pipelines.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/upgrade-worker-cluster.yaml.j2
Labels: pipelines

#274 Add script for syncing ODH install files to sokar repo
  scripts/generate-odh.sh
Labels: scripts

#276 Add tekton pipeline for running continuous testing openshift-ai
  install/roles/tealc/templates/tekton/pipelines/test-suite/odh-e2e-test-suite.yaml.j2
Labels: pipelines

#277 Change secrets refs for thor test suite
  install/roles/tealc/templates/tekton/pipelines/test-suite/thor-test-suite.yaml.j2
Labels: pipelines

#278 Run only continuous tests in scope of tealc ODH testing
  install/roles/tealc/templates/tekton/pipelines/test-suite/odh-e2e-test-suite.yaml.j2
Labels: pipelines

#280 Add argo apps for ODH
  install/roles/tealc/tasks/main.yml
  install/roles/tealc/tasks/scenario-deployment/open-data-hub/argo-deploy-odh.yaml
  install/roles/tealc/templates/argo/applications/open-data-hub/open-data-hub-dependencies.yaml.j2
  install/roles/tealc/templates/argo/applications/open-data-hub/open-data-hub-operator.yaml.j2
  install/roles/tealc/templates/argo/applications/open-data-hub/open-data-hub-resources.yaml.j2
Labels: argo

#281 Add more argo projects
  install/roles/tealc/templates/argo/app-project/app-project.yaml
  install/roles/tealc/templates/argo/applications/amq-streams-infra.yaml
  install/roles/tealc/templates/argo/applications/debezium.yaml
  install/roles/tealc/templates/argo/applications/strimzi-infra.yaml
Labels: argo

#282 Skip CRD generation for ODH operator as it is part of deployment files
  scripts/generate-odh.sh
Labels: scripts

#288 Add autorelease of opendatahub-crds based on changes in plain yaml cr…
  scripts/generate-odh.sh
Labels: scripts

#289 Add minir fixes for machine-sets waits
  install/roles/tealc/tasks/infra-setup/configure_worker_cluster.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/tealc-install.yaml
  install/secrets/clusters.yaml
Labels: pipelines

#290 Fix test changes in crds files
  scripts/generate-odh.sh
Labels: scripts

#291 Use continuous profile in tekton odh suite pipeline
  install/roles/tealc/templates/tekton/pipelines/test-suite/odh-e2e-test-suite.yaml.j2
Labels: pipelines

#293 Increase resources for ArgoCD
  install/roles/tealc/templates/argo/install/argocd.yaml
Labels: argo

#297 Stop using PVC for simple tkn pipelines
  install/roles/tealc/templates/tekton/pipelines/infra/secret-copy.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/tealc-install.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/upgrade-worker-cluster.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/open-data-hub/odh-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/strimzi-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/test-suite/odh-e2e-test-suite.yaml.j2
Labels: pipelines

#298 Use correct event listener url for odh-update tkn
  install/roles/tealc/templates/tekton/pipelines/open-data-hub/image-changer-trigger.yaml
Labels: pipelines

#299 Enable deployment of ODH gitops argo application
  install/ansible-navigator.yml
  install/roles/tealc/templates/tekton/pipelines/infra/tealc-install.yaml
Labels: pipelines

#301 Rename organization references to skodjob
  .github/CODEOWNERS
  install/roles/tealc/templates/argo/applications/amq-streams-infra.yaml
  install/roles/tealc/templates/argo/applications/debezium.yaml
  install/roles/tealc/templates/argo/applications/monitoring/alerts/infra/argo-alerts.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-canary.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-cluster-operator.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-drain-cleaner.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-kafka-connect.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-kafka.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-cluster-operator.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-drain-cleaner.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-kafka.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/dashboards/grafana-dashboards.yaml.j2
  install/roles/tealc/templates/argo/applications/open-data-hub/open-data-hub-dependencies.yaml.j2
  install/roles/tealc/templates/argo/applications/open-data-hub/open-data-hub-operator.yaml.j2
  install/roles/tealc/templates/argo/applications/open-data-hub/open-data-hub-resources.yaml.j2
  install/roles/tealc/templates/argo/applications/strimzi-infra.yaml
  install/roles/tealc/templates/console-link/tealc-github-sokar.yaml.j2
  install/roles/tealc/templates/console-link/tealc-github-tealc.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/infra/secret-copy.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/tealc-install.yaml
  install/roles/tealc/templates/tekton/pipelines/open-data-hub/odh-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/image-changer-trigger.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/strimzi-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/test-suite/odh-e2e-test-suite.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/test-suite/thor-test-suite.yaml.j2
  scripts/generate-odh.sh
Labels: pipelines, argo, scripts, github_ci

#303 Improve alerts from failed pipelines
  install/roles/tealc/tasks/infra-setup/install/install_tekton.yaml
  install/roles/tealc/tasks/scenario-deployment/tekton/infra-tkn-pipelines.yaml
  install/roles/tealc/tasks/scenario-deployment/tekton/odh-tkn-pipelines.yaml
  install/roles/tealc/tasks/scenario-deployment/tekton/strimzi-tkn-pipelines.yaml
  install/roles/tealc/templates/tekton/install/tekton-slack-task.yaml
  install/roles/tealc/templates/tekton/pipelines/cleaner/tkn-runs-cleanup.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/secret-copy.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/infra/tealc-install.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/infra/upgrade-worker-cluster.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/open-data-hub/odh-image-updater.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/strimzi-image-updater.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/test-suite/odh-e2e-test-suite.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/test-suite/thor-test-suite.yaml.j2
  install/secrets/clusters.yaml
Labels: pipelines

#306 Rename thor to strimzi-e2e
  install/roles/tealc/templates/acm/08-extend-default-metrics-allowlist.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/test-suite/metrics-collector.yaml
  install/roles/tealc/templates/tekton/pipelines/test-suite/strimzi-e2e-test-suite.yaml.j2
Labels: pipelines

#311 Enable collecting and sending metrics from odh-e2e tests
  install/roles/automation-hub/templates/acm/08-extend-default-metrics-allowlist.yaml.j2
  install/roles/automation-hub/templates/tekton/pipelines/test-suite/odh-e2e-metrics-collector.yaml
  install/roles/automation-hub/templates/tekton/pipelines/test-suite/odh-e2e-test-suite.yaml.j2
  install/roles/automation-hub/templates/tekton/pipelines/test-suite/strimzi-e2e-metrics-collector.yaml
  install/roles/automation-hub/templates/tekton/pipelines/test-suite/strimzi-e2e-test-suite.yaml.j2
Labels: pipelines

#313 Add volume for odh-e2e test for reporting results
  install/roles/automation-hub/templates/tekton/pipelines/test-suite/odh-e2e-test-suite.yaml.j2
Labels: pipelines
