Repository skodjob/automation-hub, pull requests merged in 2023-05, with the labels that each got.

#210 Add changes related to different structure of KRaft deployment of Strimzi
  image-update/strimzi-image-update.sh
  install/roles/tealc/tasks/infra-setup/delete/delete_kubed.yaml
  install/roles/tealc/tasks/infra-setup/install/install_kubed.yaml
  install/roles/tealc/tasks/main.yml
  install/roles/tealc/templates/argo/applications/amq-streams-infra.yaml
  install/roles/tealc/templates/argo/applications/debezium.yaml
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-canary.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-cluster-operator.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-drain-cleaner.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-kafka-connect.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-kafka.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-cluster-operator.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-drain-cleaner.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-kafka.yaml.j2
  install/roles/tealc/templates/argo/applications/strimzi-infra.yaml
  install/roles/tealc/templates/argo/applications/strimzi-twitter-app.yaml
  install/roles/tealc/templates/kubed/kubed.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/strimzi-image-updater.yaml
  install/secrets/clusters.yaml
  install/secrets/twitter/registry.yaml
  install/secrets/twitter/twitter.yaml
Labels: pipelines, argo

#212 Tekton finally steps for sending slack notificaton when pipelinea fail
  install/roles/tealc/defaults/main.yml
  install/roles/tealc/tasks/infra-setup/install/install_tekton.yaml
  install/roles/tealc/templates/acm/09-alert-manager-configuration.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/infra/secret-copy.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/tealc-install.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/canary-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/clients-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/drain-cleaner-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/strimzi-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/thor-test-suite.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/twitter-app/twitter-app-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/upgrade-worker-cluster.yaml.j2
  install/secrets/clusters.yaml
Labels: pipelines

#215 Shedule monitoring on different nodes, argo app for custom observability cm
  install/roles/tealc/tasks/infra-setup/delete/delete_kubed.yaml
  install/roles/tealc/tasks/infra-setup/install/install_kubed.yaml
  install/roles/tealc/templates/argo/applications/custom-observability-metrics.yaml
  install/roles/tealc/templates/infra-machine-sets.yaml.j2
  install/roles/tealc/templates/logging/install/cluster-logging/02-cluster-logging-instance.yaml.j2
  install/roles/tealc/templates/logging/install/loki/03-loki-stack.yaml.j2
Labels: argo

#219 Update thor pipeline
  install/roles/tealc/templates/tekton/pipelines/test-suite/thor-test-suite.yaml.j2
Labels: pipelines

#221 Delete twitter app image updater
  install/roles/tealc/tasks/scenario-deployment/twitter/argo-deploy-strimzi-twitter-app.yaml
  install/roles/tealc/templates/tekton/pipelines/twitter-app/run/pipeline-runs.yaml
  install/roles/tealc/templates/tekton/pipelines/twitter-app/twitter-app-image-updater.yaml
Labels: pipelines

#223 Change slack notification for tkn pileines
  install/roles/tealc/templates/tekton/pipelines/infra/secret-copy.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/tealc-install.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/upgrade-worker-cluster.yaml.j2
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/strimzi-image-updater.yaml
  install/roles/tealc/templates/tekton/pipelines/test-suite/thor-test-suite.yaml.j2
Labels: pipelines

#228 Merge task into pipeline for secret copy
  install/roles/tealc/templates/tekton/pipelines/infra/secret-copy.yaml
Labels: pipelines
