Repository skodjob/automation-hub, pull requests merged in 2023-08, with the labels that each got.

#238 Remove twitter app is it isno longer supported
  Makefile
  README.md
  install/ansible-navigator.yml
  install/roles/tealc/tasks/main.yml
  install/roles/tealc/tasks/scenario-deployment/twitter/argo-deploy-strimzi-twitter-app.yaml
  install/roles/tealc/tasks/scenario-deployment/twitter/prepare_access_twitter.yaml
  install/roles/tealc/templates/argo/applications/strimzi-twitter-app.yaml
  install/roles/tealc/templates/tekton/pipelines/infra/tealc-install.yaml
Labels: pipelines, argo

#241 Split argocd deployments into app projects
  install/roles/tealc/tasks/infra-setup/install/install_argo.yaml
  install/roles/tealc/templates/argo/app-project/app-project.yaml
  install/roles/tealc/templates/argo/applications/amq-streams-infra.yaml
  install/roles/tealc/templates/argo/applications/debezium.yaml
  install/roles/tealc/templates/argo/applications/monitoring/alerts/infra/argo-alerts.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-canary.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-cluster-operator.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-drain-cleaner.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-kafka-connect.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-01/strimzi-alerts-kafka.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-cluster-operator.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-drain-cleaner.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/alerts/worker-02/strimzi-alerts-kafka.yaml.j2
  install/roles/tealc/templates/argo/applications/monitoring/dashboards/grafana-dashboards.yaml.j2
  install/roles/tealc/templates/argo/applications/strimzi-infra.yaml
Labels: argo

#242 Update argocd channel to the latest
  install/roles/tealc/templates/argo/install/sub.yaml
Labels: argo

#243 Update thod pipeline to remove unnecesarry task
  install/roles/tealc/templates/tekton/pipelines/test-suite/thor-test-suite.yaml.j2
Labels: pipelines

#244 Clear tasks
  install/roles/tealc/templates/tekton/pipelines/strimzi-deployment/strimzi-image-updater.yaml
Labels: pipelines

#245 Update pipeline: Sent thor data to metrics collector
  install/roles/tealc/tasks/scenario-deployment/tekton/strimzi-infra-tkn-pipelines.yaml
  install/roles/tealc/templates/tekton/pipelines/test-suite/metrics-collector.yaml
  install/roles/tealc/templates/tekton/pipelines/test-suite/thor-test-suite.yaml.j2
Labels: pipelines

#246 Always pull image of metrics collector
  install/roles/tealc/templates/tekton/pipelines/test-suite/metrics-collector.yaml
Labels: pipelines

#247 Reference metrics-collector by sha instead of by tag
  install/roles/tealc/tasks/scenario-deployment/tekton/strimzi-infra-tkn-pipelines.yaml
  install/roles/tealc/templates/tekton/pipelines/test-suite/metrics-collector.yaml
Labels: pipelines
