Repository skodjob/automation-hub, pull requests merged in 2024-02, with the labels that each got.

#334 Add option to import existing clusters
  install/roles/automation-hub/tasks/common/prepare_kubeconfigs.yaml
  install/roles/automation-hub/tasks/common/setup_cluster_kubeconfig.yaml
  install/roles/automation-hub/tasks/common/setup_cluster_kubeconfig_hive.yaml
  install/roles/automation-hub/tasks/infra-setup/delete/delete_kubed.yaml
  install/roles/automation-hub/tasks/infra-setup/delete/delete_kubernetes-replicator.yaml
  install/roles/automation-hub/tasks/infra-setup/install/advanced-cluster-management/install_observability.yaml
  install/roles/automation-hub/tasks/infra-setup/install/advanced-cluster-security/install_acs_central.yaml
  install/roles/automation-hub/tasks/infra-setup/install/advanced-cluster-security/register_cluster.yaml
  install/roles/automation-hub/tasks/infra-setup/install/cert-manager/00-install_cert_manager.yaml
  install/roles/automation-hub/tasks/infra-setup/install/cluster-logging/install_loki_stack.yaml
  install/roles/automation-hub/tasks/infra-setup/install/create_clusters_hive.yaml
  install/roles/automation-hub/tasks/infra-setup/install/install_argo.yaml
  install/roles/automation-hub/tasks/infra-setup/install/install_kubernetes-replicator.yaml
  install/roles/automation-hub/tasks/infra-setup/prepare_access.yaml
  install/roles/automation-hub/tasks/main.yml
  install/roles/automation-hub/tasks/scenario-deployment/tekton/infra-tkn-pipelines.yaml
  install/roles/automation-hub/templates/acm/08-extend-default-metrics-allowlist.yaml.j2
  install/roles/automation-hub/templates/cert-manager/03-certificate.yaml.j2
  install/roles/automation-hub/templates/kubed/kubed.yaml.j2
  install/roles/automation-hub/templates/kubernetes-replicator/kubernetes-replicator.yaml.j2
  install/roles/automation-hub/templates/tekton/pipelines/test-suite/odh-e2e-standard-metrics-collector.yaml
  install/secrets/clusters.yaml
  install/secrets/quay-io.yaml
Labels: pipelines

#335 Add labels to namespaces synced by Argo
  install/roles/automation-hub/templates/argo/applications/amq-streams-infra.yaml
  install/roles/automation-hub/templates/argo/applications/debezium.yaml
  install/roles/automation-hub/templates/argo/applications/strimzi-infra.yaml
Labels: argo

#337 Add step for copy kustomization.yaml for operator as it was changed in operator repo
  scripts/generate-odh.sh
Labels: scripts

#339 Remove standard odh test suite run and keep only continuous
  install/roles/automation-hub/templates/tekton/pipelines/test-suite/odh-e2e-standard-metrics-collector.yaml
  install/roles/automation-hub/templates/tekton/pipelines/test-suite/odh-e2e-standard-test-suite.yaml.j2
Labels: pipelines

#338 [Chaos] - Add ansible to also provision chaos when installing
  install/roles/automation-hub/tasks/main.yml
  install/roles/automation-hub/tasks/scenario-deployment/tekton/chaos-tkn-pipelines.yaml
  install/roles/automation-hub/templates/tekton/pipelines/chaos/chaos-trigger.yaml.j2
  install/roles/automation-hub/templates/tekton/pipelines/chaos/cron-jobs/chaos-cron-job.yaml
Labels: pipelines

#343 [Chaos] - add network chaos to target internal producers which produd…
  install/roles/automation-hub/templates/tekton/pipelines/chaos/cron-jobs/network-chaos-producers-cron-job.yaml
Labels: pipelines

#344 Update memory for ArgoCD controllers
  install/roles/automation-hub/templates/argo/install/argocd.yaml
Labels: argo

#345 [Chaos] - enable probes to prevent chaos during OCP upgrade
  install/roles/automation-hub/templates/tekton/pipelines/chaos/cron-jobs/chaos-cron-job.yaml
  install/roles/automation-hub/templates/tekton/pipelines/chaos/cron-jobs/network-chaos-producers-cron-job.yaml
Labels: pipelines

#346 [Chaos] - Add more complex worflow chaos targeting HTTPChaos Bridge a…
  install/roles/automation-hub/templates/tekton/pipelines/chaos/cron-jobs/workflow-chaos-bridge-kafka-cron-job.yaml
Labels: pipelines

#353 Auto assign
  .github/workflows/bot_issue_mention.yaml
  .github/workflows/bot_labeler.yaml
  .github/workflows/bot_pr_auto_assign.yaml
  .github/workflows/bot_pr_mention.yaml
  .github/workflows/inactive_issues.yaml
Labels: github_ci
