Repository skodjob/automation-hub, pull requests merged in 2025-01, with the labels that each got.

#382 Remove ODH from skodjob infra system
  install/ansible-navigator.yml
  install/roles/automation-hub/tasks/infra-setup/prepare_access.yaml
  install/roles/automation-hub/tasks/main.yml
  install/roles/automation-hub/tasks/scenario-deployment/tekton/odh-tkn-pipelines.yaml
  install/roles/automation-hub/templates/acm/08-extend-default-metrics-allowlist.yaml.j2
  install/roles/automation-hub/templates/argo-workflows/workflows/infra/automation-hub-install.yaml.j2
  install/roles/automation-hub/templates/argo/app-project/app-project.yaml
  install/roles/automation-hub/templates/argo/applications/open-data-hub/open-data-hub-dependencies.yaml.j2
  install/roles/automation-hub/templates/argo/applications/open-data-hub/open-data-hub-operator.yaml.j2
  install/roles/automation-hub/templates/argo/applications/open-data-hub/open-data-hub-resources.yaml.j2
  install/roles/automation-hub/templates/logging/install/cluster-logging/02-cluster-logging-instance.yaml.j2
  install/roles/automation-hub/templates/tekton/pipelines/open-data-hub/image-changer-trigger.yaml
  install/roles/automation-hub/templates/tekton/pipelines/open-data-hub/odh-image-updater.yaml.j2
  install/roles/automation-hub/templates/tekton/pipelines/open-data-hub/run/pipeline-runs.yaml
  install/roles/automation-hub/templates/worker-machine-sets.yaml.j2
  install/secrets/clusters.yaml
  scripts/generate-odh.sh
Labels: pipelines, argo, scripts

#383 Do not use old mk-ci-cd container image
  install/roles/automation-hub/templates/tekton/pipelines/test-suite/strimzi-e2e-test-suite.yaml.j2
Labels: pipelines

#388 Allow SSO in Argo Workflows and re-use Dex server from Argo CD deployment
  install/roles/automation-hub/defaults/main.yml
  install/roles/automation-hub/tasks/infra-setup/install/install_argo.yaml
  install/roles/automation-hub/tasks/infra-setup/install/install_argo_workflows.yaml
  install/roles/automation-hub/tasks/infra-setup/prepare_access.yaml
  install/roles/automation-hub/tasks/main.yml
  install/roles/automation-hub/tasks/scenario-deployment/workflows/infra-argo-workflows.yaml
  install/roles/automation-hub/templates/argo-workflows/eventsource/event-source-automation-hub-install.yaml.j2
  install/roles/automation-hub/templates/argo-workflows/workflows/infra/automation-hub-install.yaml.j2
  install/roles/automation-hub/templates/argo-workflows/workflows/infra/cleaner.j2
  install/roles/automation-hub/templates/argo-workflows/workflows/infra/secret-copy.yaml.j2
  install/roles/automation-hub/templates/argo/install/argocd.yaml
  install/roles/automation-hub/templates/console-link/skodjob-ci.yaml.j2
  install/secrets/clusters.yaml
Labels: argo

#389 Add project app labels to managed namespaces
  install/roles/automation-hub/templates/argo/applications/amq-streams-infra.yaml
  install/roles/automation-hub/templates/argo/applications/debezium.yaml
  install/roles/automation-hub/templates/argo/applications/strimzi-infra.yaml
Labels: argo

#390 Add cron workflow for install hub + fix workflow dex
  install/roles/automation-hub/templates/argo-workflows/workflows/infra/automation-hub-install-cron.yaml.j2
  install/roles/automation-hub/templates/argo/install/argocd.yaml
Labels: argo

#391 Clean reviewers list
  .github/auto_assign.yml
Labels: github_ci
